<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">

    {% # Load and preload the critical CSS %}
    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% comment %} REMOVE HEADER FROM VIEW {% sections 'header-group' %} {% endcomment %}

    {{ content_for_layout }}

    {% comment %} REMOVE FOOTER FROM VIEW {% sections 'footer-group' %} {% endcomment %}
  </body>
</html>
