<footer>
  <p>©{{ 'now' | date: '%Y' }} Simone Lue</p>
  <p>Email: simonexlue@gmail.com</p>
  <p>Github: https://github.com/simonexlue</p>
  <p>LinkedIn: https://www.linkedin.com/in/simonelue/</p>
</footer>