<section class="hero">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
</section>

{% schema %} 
{
    "name": "Hero Banner",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Hi, I'm Simone!"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "A front-end developer & Shopify learner"
        }
    ]
}
{% endschema %}