/* FONT */
/* ------------------------------------- */
body {
    font-family: 'Fira Code', monospace;
    background-color: rgb(2, 5, 10);
    color: #d4d4d4;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}

h1 {
    color: #dcdcaa;
}

h2 {
    font-weight: 300;
    font-size: 22px;
    color: #c586c0;
}

h3 {
    font-weight: 200;
    font-size: 20px;
    color: #569cd6;
}

p {
    color: #ce9178;
}

.section-titles {
    color: #ffd700;
}

/* BANNER */
/* ------------------------------------- */
.banner {
    text-align: start;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1 {
    font-size: 14px;
}

.top-nav {
    display: flex;
    justify-content: end;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 10px;
}

.top-nav a {
    text-decoration: none;
    color: azure;
    border-top: 2px solid #569cd6;
    padding-top: 5px
}

.top-nav a:hover {
    color: #569cd6;
}

@media (min-width: 768px) {
    .banner h1 {
        font-size: 24px;
        padding: 0rem 2rem;
    }

    .top-nav ul {
        font-size: 14px;
        gap: 2rem;
    }
}

/* ABOUT ME */
/* ------------------------------------- */

.about-me {
    display: flex;
    gap: 1.5rem;
    background-color: rgb(12, 14, 18);
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.text-section {
    width: 100%;
    padding: 0;
}

.image-section img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.typewriter {
    display: inline-block;
}

.cursor {
    display: inline-block;
    background-color: currentColor;
    width: 1px;
    height: 1em;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media (max-width: 960px) {
    .about-me {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .about-me {
        padding: 2rem;
        gap: 2rem;
    }

    .text-section {
        width: 100%;
        padding: 2rem;

    }

    .image-section img {
        max-width: 100%;
        padding-left: 20px;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .about-me {
        padding: 2rem 4rem;
    }
}

@media (min-width: 960px) {
    .about-me {
        text-align: end;
    }
}

@media (min-width: 1060px) {
    .about-me {
        padding: 2rem;
        background-color: rgb(12, 14, 18);
        gap: 4rem;
        margin: 0px;
    }

    .text-section {
        width: 40%;
        line-height: 1.5rem;
        padding: 3rem;
        padding-right: 0;
    }

    .image-section {
        max-width: 40%;
    }


    .image-section img {
        max-width: 100%;
        padding-left: 2rem;
        height: auto;
    }
}


/* PROJECTS */
/* ------------------------------------- */
.projects {
    padding: 2rem;
    background-color: rgb(12, 14, 18);
}

.project-grid {
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
}

.project-card {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0rem 1rem 2rem 1rem;
    text-align: center;
    box-shadow: 1px 5px 10px grey;
    transition: transform 0.2s ease;
    background-color: rgb(12, 14, 18);
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    display: block;
    /* border: 2px solid red; */
    height: auto;
    padding-top: 0rem;
}

.project-description {
    padding: 0rem 0.5rem;
    line-height: 1.5rem;
    text-align: start;
}

.link-a {
    text-decoration: red wavy underline;
    color: #d4d4d4;
}

@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .projects {
        padding: 2rem 4rem;
    }
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .projects {
        padding: 2rem 8rem;
    }

    .project-image {
        display: block;
        max-width: 450px;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
    }

    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* CONTACT */
/* ------------------------------------- */

.contact-me {
    padding: 2rem 8rem;
    background-color: rgb(2, 5, 10);
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.contact-message {
    line-height: 1.5rem;
}

.contact-icons {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.social-icon p {
    color: #d4d4d4;
}

@media (max-width: 600px) {
    .contact-me {
        padding: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .contact-me {
        padding: 2rem 4rem;
    }
}

@media (min-width: 1060px) {
    .contact-section {
        grid-template-columns: 60% 40%;
        align-items: center;
        flex-wrap: wrap;
        gap: 6rem;
    }

    .contact-icons {
        align-items: flex-end;
        padding-left: 2rem;
    }
}


/* SKILLS */
/* ----------------------------------------- */
.skills {
    padding: 2rem;
    padding-bottom: 4rem;
}

.skill-groups {
  display: flex;   
  flex-direction: column;
}

.skill-title {
    font-size: 18px;
}

.skill-section {
    background-color: rgb(12, 14, 18);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

@media (min-width: 600px) {
    .skills {
        padding: 2rem 4rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 960px) {
    .skills {
        padding: 2rem 8rem;
        padding-bottom: 4rem;;
    }
    
    .skill-groups {
        flex-direction: row;
        gap: 2rem;
    }

    .skill-group {
        flex: 1 1 0;
    }
}


/* ------------------------------------------ */

.project-detail {
  padding: 2rem;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.project-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.back-to-portfolio {
  text-decoration: none;
}

.tech-group {
  display: flex;
  flex-direction: column;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background-color: rgb(12,14,18);
  padding: 0rem 1rem;
}