/* FONT */
/* ------------------------------------- */
body {
  font-family: 'Fira Code', monospace;
  background-color: rgb(2,5,10); 
  color: #d4d4d4;   
  font-weight: 300;  
  margin-left: 0;    
  margin-right: 0;  
  margin-bottom: 0; 
}

h1 {
   color: #dcdcaa; 
}

h2 {
    font-weight: 300;
    font-size: 22px;
    color: #c586c0;
}

h3 {
    font-weight: 200;
    font-size: 20px;
    color: #569cd6;
}

p {
    color: #ce9178;
}

.section-titles {
    color: #ffd700;
}

/* BANNER */
/* ------------------------------------- */
.banner {
    text-align: start;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    display: flex;
    justify-content: end;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.top-nav a {
    text-decoration: none;
    color: azure;
    border-top: 2px solid #569cd6;
    padding-top: 5px
}

.top-nav a:hover {
    color: #569cd6;
}

/* ABOUT ME */
/* ------------------------------------- */

.about-me {
    padding: 2rem;
    background-color: rgb(12,14,18);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0px;
}

.image-section {
    max-width: 100%;
    padding-left: 20px;
    height: auto;
}

.text-section {
    text-align: end;
    width: 40%;
    line-height: 1.5rem;
    padding: 3rem;
}

.typewriter {
    display: inline-block;
}

.cursor {
    display: inline-block;
    background-color: currentColor;
    width: 1px;
    height: 1em;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
}

@keyframes blink {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}

/*phone size*/
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    .text-section {
        width: 100%;
        padding: 0;
    }

    .image-section img {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

/* PROJECTS */
/* ------------------------------------- */
.projects {
    padding: 2rem;
    background-color: rgb(2,5,10);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    padding-bottom: 2rem;
}

.project-card {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 1px 5px 10px grey;
    transition: transform 0.2s ease;
    background-color: rgb(12,14,18);
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    display: block;
    border-radius: 15px;
}

.project-description {
    padding: 0 1rem;
    line-height: 1.5rem;
    text-align: start;
}

.link-a {
    text-decoration: red wavy underline;
    color: #d4d4d4;
}

/* CONTACT */
/* ------------------------------------- */
.contact-me {
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: rgb(12,14,18);
}

.contact-section {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-message {
    line-height: 1.5rem;
}

.contact-icons {
    width: 40%;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    align-items: flex-start;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    transition: color 0.2s ease;
    /* text-decoration: red wavy underline; */
    text-decoration: none;
}

.social-icon p {
    color: #d4d4d4;
}

/*phone size*/
@media (max-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .contact-icons {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0.5rem;
  }
}